.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}
.pv-mt-5 {
	margin-top: 0.5rem;
}
.pv-mt-10 {
	margin-top: 1rem;
}
.pv-mt-15 {
	margin-top: 1.5rem;
}
.pv-mt-20 {
	margin-top: 2rem;
}
